@using SistemaGestorPacientesApp.Core.Application.ViewModels.Medico
@model SaveMedicoViewModel
@{
    ViewData["Title"] = "Eliminar Medico";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-warning text-Blak text-center">
                <h4>Esta seguro que desea eliminar al medico @Model.Nombre?</h4>
            </div>
            <div class="card-body text-center">
                <form method="post" asp-controller="Medico" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Medico" asp-action="Index" class="btn btn-primary">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>

