@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Gestor de Pacientes</h1>
    <h2 class="display-4">Creador:  Angel Miguel de la Rosa</h2>
</div>
